<!-- <div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Instagram End -->

<!-- Footer Section Begin -->
<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<div class="footer__copyright__text">
    <p>Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
        is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
            target="_blank">Colorlib</a>
    </p>
</div>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
</div>
</div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



<script>

    $("#place-order").submit((e) => {
        const allTotal = document.getElementById("total").innerHTML
        const walletPlace = document.getElementById("wallet").innerHTML
        const amount = document.getElementById("total-amount").innerHTML
        const address = $("input[name=address]:checked").val()
        const paymentMethod = $("input[name=payment]:checked").val();


        e.preventDefault()
        $.ajax({
            url: "/place-order",
            method: 'post',
            data: {
                totalBefore: allTotal,
                total: amount,
                address: address,
                payment: paymentMethod,
                wallet: walletPlace
            },
            success: (response) => {
                if (response.codSuccess == true) {
                    location.href = "/order-placed"
                }
                else if (response.codFailed == true) {
                    swal("Oops!", "Add Address", "error");
                } else {
                    console.log("razorpay")
                    razorPay(response.order)
                }

            }
        })
    })

    function checkWallet() {
        let walletPlace = document.getElementById("wallet")
        let amount = document.getElementById("total-amount").innerHTML
        let totalAmount = document.getElementById("total-amount")
        let radioDiv = document.getElementById("radio_div")
        $.ajax({
            url: '/checkWallet',
            method: 'post',
            success: (response) => {
                if (response.success) {
                    console.log("success");
                    walletPlace.innerHTML = response.walleta
                    let test = amount - response.walleta
                    if (test < 0) {
                        totalAmount.innerHTML = 10
                        radioDiv.innerHTML = "You have pay minimum ₹10"
                    } else {
                        totalAmount.innerHTML = test
                        radioDiv.classList.add("d-none");
                    }





                } else {
                    console.log("fail");
                }
            }
        })
    }




    function razorPay(order) {
        var options = {
            "key": "rzp_test_CUiyz16ts3sjjL", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Time Trek", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open();
        rzp1.on('payment.failed', function (response) {

            rzp1.close()
            swal("Oops!", "Payment failed", "error");
            setTimeout(() => {
                window.location.reload()
            }, 1000)
        });
    }


    function verifyPayment(payment, order) {
        $.ajax({
            url: "/verifyPayment",
            method: 'post',
            data: {
                payment,
                order
            },
            success: (response) => {
                if (response.success == true) {
                    window.location.href = "/order-placed";
                } else if (response.onlineSuccess) {

                    Swal.fire({
                        icon: 'error',
                        title: 'Payment has done',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }

        })
    }




    function addToCart(id) {
        $.ajax({
            url: "/addtoCart",
            type: "POST",
            encoded: true,
            data: {
                id: id,
            },
        }).done((data) => {
            if (data.success) {
                swal("Added", "Item added to cart", "success");

            } else if (data.exist) {
                swal("warning", "Item already in the cart", "warning");
            }
            else {
                swal("Oops!", "User not found. Please login.", "error");
            }

        });
    }

    function addToWhishLIst(id) {

        $.ajax({
            url: "/addtoWishlists",
            type: "POST",
            encoded: true,
            data: {
                id: id,
            },
        }).done((data) => {
            if (data.success) {
                swal("Added", "Item added to whishlist", "success");

            } else if (data.exist) {
                swal("warning", "Item already in the whishlist", "warning");
            }
            else {
                swal("Oops!", "User not found. Please login.", "error");
            }

        });
    }


    function deleteitem(id) {
        $.ajax({
            url: "/delete-cart-item",
            method: "post",
            encoded: true,
            data: {
                id: id,
            },
        }).done((data) => {
            if (data.success) {
                location.reload();
            }
        });
    }



    function changeqnty(userid, proid, count) {
        const quantity = parseInt(document.getElementById(proid).innerHTML)
        count = parseInt(count)

        console.log(quantity);

        if (count == -1 && quantity == 1 || count == -2) {
            deleteitem(proid)
        } else {
            $.ajax({
                url: '/change-product-quantity',
                data: {
                    user: userid,
                    product: proid,
                    count: count
                },
                method: 'post',
                encoded: true,
            }).done((data) => {
                if (data.changeSuccess) {
                    document.getElementById(proid).innerText == quantity + count
                    location.reload()
                } else {
                    swal("Oops!", "No More Stock Available", "error")
                }
            })

        }

    }

    function applyCoupon(code) {
        let amount = document.getElementById("total").innerHTML
        console.log(amount);
        $.ajax({
            url: '/applycoupon',
            method: 'post',
            data: {
                code: code,
                amount: amount
            },
            success: (response) => {
                if (response.invalid) {
                    swal("Oops!", "Coupon not found.", "error");
                } else if (response.expire) {
                    swal("Oops!", "Coupon has expired.", "error");
                } else if (response.cartamount) {
                    swal("Oops!", "Minimum Amount.", "error");

                } else if (response.user) {
                    swal("Oops!", "Coupon used", "error");
                }
                else if (response.couponokey) {
                    document.getElementById("coupondiscount").innerHTML = `${response.discountvalue}`
                    document.getElementById("total-amount").innerHTML = `${response.distotal}`
                    swal("Success!", "Coupon Added.", "success");
                }


            }
        })

    }


</script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

</body>

</html>