<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/test" method="post">
        <label for="NAME">NAME</label>
          <br>
        <input type="text" name="name">
        <br>
       <label for="EMAIL ID">Email Id:</label>
          <br>
        <input type="text" name="Email">
        <br>
        <label for="PASSWORD">PASSWORD:</label>
          <br>
        <input type="password" name="password">
        <br>
        <button type="submit" >submit</button>
    </form>
</body>
</html>